body {
	font-family: "Public Sans", sans-serif;
	font-weight: 300;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	/* background-color: grey; */
}
nav {
	display: flex;
	justify-content: space-around;
	width: 100vw;
	background-color: white;
	height: 4em;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 2;
}
.nav-div {
	display: flex;
	justify-content: space-evenly;
	width: 30vw;
}
a {
	text-decoration: none;
	color: grey;
}
.nav-button {
	margin-top: 10px;
	border-radius: 25px;
	background: linear-gradient(to bottom right, #4ecc7b, #2ab7c8);
	color: white;
	height: 3em;
	border: none;
	width: 10vw;
	align-self: flex-start;
}
header {
	display: flex;
	background-color: white;
	height: 75vh;
	width: 100%;
}
.header1 {
	display: flex;
	flex-direction: column;
	width: 40%;
	align-items: center;
	justify-content: flex-start;
	padding: 10%;
}
.header-button {
	border-radius: 25px;
	background: linear-gradient(to bottom right, #4ecc7b, #2ab7c8);
	color: white;
	height: 3em;
	border: none;
	width: 10vw;
	align-self: flex-start;
}
.main-header {
	font-size: 60px;
}
.header2 {
	position: relative;
	background-image: url("/images/bg-intro-desktop.svg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 50%;
	padding: 100px;
	background-position: top -230px left 30px;
	z-index: 1;
}
.image-mockups {
	position: absolute;
	/* max-width: 100%; */
	top: -10%;
	right: -15%;
	/* position */
	z-index: 100;
}
/* section css */

section {
	/* border: 1px solid black; */
	width: 100vw;
	display: flex;
	justify-content: center;
	background-color: #f4f5f7;
}
.section-container {
	display: flex;
	/* border: 1px solid black; */
	height: 60vh;
	flex-direction: column;
	justify-content: space-around;
	width: 80vw;
}
.section-content {
	color: grey;
}
.section-subheading {
	font-size: 40px;
}
.section-card-list {
	/* border: 1px solid black; */

	display: flex;
	height: 30vh;
	justify-content: space-between;

	/* flex-direction: column; */
}
.section-text {
	height: 30%;
	color: grey;
}
.section-heading {
	display: flex;
	flex-direction: column;
	width: 40%;
}
.section-card {
	/* border: 1px solid black; */

	display: flex;
	flex-direction: column;
	width: 20%;
	justify-content: space-around;
}
.card-hading {
	font-size: 25px;
	font-weight: 400;
}
.section-text {
	color: grey;
}
/* main section css */

main {
	/* border: 1px solid black; */
	/* padding: 10% 0 10% 0; */
	height: 80vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	background-color: white;
}
.main-section {
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80vw;
}
.main-card-list {
	display: flex;
	height: 50vh;
	justify-content: space-between;
	/* border-radius: 25px 25px 0px 0px; */
}
.main-card {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 50vh;
	justify-content: space-around;
	border: 0px solid black;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgb(0 0 0 /0.2);
}
.main-card-image {
	height: 50%;
	border-radius: 25px 25px 0px 0px;
}
.main-card-content {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 5%;
}
.image {
	height: 100%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}
.content-head {
	font-size: 12px;
	color: grey;
}
.content-main {
	font-size: 20px;
}
.content-footer {
	font-size: 17px;
	color: grey;
}
.main-section-heading {
	font-size: 40px;
}

/* footer section */
.footer {
	height: 25vh;
	display: flex;
	background-color: #28314e;
	justify-content: center;
}
.footer-container {
	/* border: 1px solid green; */
	width: 80vw;
	display: flex;
	height: 100%;
}
.footer-column-1 {
	/* height: 100%; */
	display: flex;
	width: 33%;
	min-width: 200px;
	/* border: 1px solid black; */
	flex-direction: column;
	justify-content: space-around;
}
.footer-column-2 {
	display: flex;
	width: 33%;
	min-width: 200px;
	/* border: 1px solid black; */

	/* flex-direction: ; */
	/* height: 80%; */
	justify-content: space-around;
	align-items: center;
	color: white;
	font-size: 20px;
}
.footer-column-3 {
	display: flex;
	width: 33%;
	height: 80%;
	align-self: center;
	min-width: 200px;
	/* border: 1px solid black; */
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	color: white;
	font-size: 20px;
}
.social-links a i {
	font-size: 25px;
	color: white;
}
ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}
.footer-content2 {
	display: flex;
	height: 80%;
	flex-direction: column;
	justify-content: space-around;
}
a {
	color: white;
}
.footer-button {
	border-radius: 25px;
	background: linear-gradient(to bottom right, #4ecc7b, #2ab7c8);
	color: hsl(233, 26%, 24%);
	height: 3em;
	border: none;
	width: 10vw;
	align-self: flex-start;
}
